<template>
    <div>
        <div class="text-left">
            <v-btn color="purple" @click="insertItem()">
                NEW CONNECTION
            </v-btn>
        </div>
        <br />
        <v-simple-table>
            <v-dialog v-model="dialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        <span class="headline">Save Connection</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container>
                            <v-row>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="toSaveConnection.name" label="Name"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="toSaveConnection.databaseName" label="Database Name"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="toSaveConnection.hostname" label="Hostname"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="toSaveConnection.port" label="Port"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="toSaveConnection.username" label="Username"></v-text-field>
                                </v-col>
                                <v-col cols="12" sm="6" md="4">
                                    <v-text-field v-model="toSaveConnection.password" label="Password"></v-text-field>
                                </v-col>
                            </v-row>
                        </v-container>
                    </v-card-text>

                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" text @click="close">
                            Cancel
                        </v-btn>
                        <v-btn color="blue darken-1" text @click="save">
                            Save
                        </v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
            <thead>
                <tr>
                    <th class="text-left">
                        Id
                    </th>
                    <th class="text-left">
                        Name
                    </th>
                    <th class="text-left">
                        Database
                    </th>
                    <th class="text-left">
                        Host
                    </th>
                    <th class="text-left">
                        Port
                    </th>
                    <th class="text-left">
                        Username
                    </th>
                    <th class="text-left">
                        Password
                    </th>
                    <th class="text-left" />
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in connections" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.name }}</td>
                    <td>{{ item.databaseName }}</td>
                    <td>{{ item.hostname }}</td>
                    <td>{{ item.port }}</td>
                    <td>{{ item.username }}</td>
                    <td>*******</td>
                    <td>
                        <v-btn-toggle
                            mandatory
                        >
                            <v-btn color="purple" dark small @click="editItem(item)">
                                Edit&nbsp;<v-icon small>
                                    edit
                                </v-icon>
                            </v-btn>
                            <v-btn color="secondary" dark small @click="connectItem(item)">
                                Connect&nbsp;<v-icon small />
                            </v-btn>
                            <v-btn small>
                                Delete&nbsp;<v-icon small @click="deleteItem(item)">
                                    delete
                                </v-icon>
                            </v-btn>
                        </v-btn-toggle>
                    </td>
                </tr>
            </tbody>
        </v-simple-table>
    </div>
</template>

<script src="./ConnectionsPageImpl.ts" lang="ts"></script>
