<template>
    <div>
        <v-row align="center">
            <h2>Database Details</h2>
        </v-row>
        <v-row align="center">
            <v-expansion-panels
                v-model="panel"
                :accordion="false"
                :popout="false"
                :inset="false"
                :multiple="true"
                :focusable="false"
                :disabled="false"
                :readonly="false"
            >
                <v-expansion-panel>
                    <v-expansion-panel-header @click="loadSchemas()">
                        Schemas
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-list
                            v-if="schemas.length > 0"
                            :disabled="false"
                            :dense="false"
                            :two-line="false"
                            :three-line="false"
                            :shaped="false"
                            :flat="false"
                            :subheader="false"
                            :inactive="false"
                            :sub-group="false"
                            :nav="false"
                            :avatar="false"
                            :rounded="false"
                        >
                            <v-list-item-group color="primary">
                                <v-list-item
                                    v-for="(item, i) in schemas"
                                    :key="i"
                                >
                                    <v-list-item-content>
                                        <v-list-item-title v-html="item"></v-list-item-title>
                                    </v-list-item-content>
                                </v-list-item>
                            </v-list-item-group>
                        </v-list>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                    <v-expansion-panel-header @click="loadTables()">
                        Tables
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-col v-if="tables.length > 0" cols="6">
                            <v-select
                                v-model="selectedTable"
                                :items="tables"
                                :disabled="false"
                                :readonly="false"
                                :chips="false"
                                :multiple="false"
                                append-icon=""
                                prepend-icon=""
                                label="Table Names"
                                @change="selectTable(selectedTable)"
                            >
                            </v-select>
                        </v-col>
                        <v-col v-if="selectedTable.length > 0" cols="6">
                            <v-btn color="purple" dark small @click="loadRows()">
                                Retrieve Data
                            </v-btn>
                        </v-col>
                        <v-col v-if="columns.length > 0" cols="12">
                            Columns<br />
                            <v-simple-table>
                                <thead>
                                    <tr>
                                        <th class="text-left">Name</th>
                                        <th class="text-left">Data Type</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="item in columns" :key="item.columnName">
                                        <td>{{ item.columnName }}</td>
                                        <td>{{ item.dataType }}</td>
                                    </tr>
                                </tbody>
                            </v-simple-table>
                        </v-col>
                    </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel id="datapanel">
                    <v-expansion-panel-header @click="loadTables()">
                        Data
                    </v-expansion-panel-header>
                    <v-expansion-panel-content>
                        <v-col v-if="rows.length > 0" id="datapanel_col" cols="12">
                            <v-simple-table>
                                <thead>
                                    <tr>
                                        <th v-for="(column, i) in columns" :key="i" class="text-left">{{ column.columnName }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(row, i) in rows" :key="i">
                                        <td v-for="(cell, i) in row" :key="i">{{ cell }}</td>
                                    </tr>
                                </tbody>
                            </v-simple-table>
                        </v-col>
                    </v-expansion-panel-content>
                </v-expansion-panel>
            </v-expansion-panels>
        </v-row>
    </div>
</template>

<style>
  #datapanel .v-expansion-panel-content__wrap{
    overflow-x: auto;
  }
</style>
<script src="./DatabaseConnectionPageImpl.ts" lang="ts"></script>
